%table.table.table-striped.table-bordered.table-hover.table-condensed
  %tbody
    %tr.info.text-center
      %td
        %b= t('calendars.meeting')
      %td
        %b= t('calendars.date')
      %td
        %b= t('calendars.warm_up')
      %td
        %b= t('calendars.begin')
      %td
        %b= t('calendars.events')
      %td
        %b= t('calendars.pool')
    - session_count = @meeting.meeting_sessions.count
    - if session_count == 0
      %tr
        %td
          = "#{ @meeting.get_full_name } (ID #{ @meeting.id })"
        - if @meeting.header_date
          %td.goggles-rightalign
            - if @meeting.is_confirmed
              = @meeting.header_date
            - else
              = @meeting.header_date.to_s + ' (*)'
          %td{ colspan: 4 }
            = t('to_be_defined')
        - else
          %td{ colspan: 5 }
            = t('to_be_defined')
    - else
      - @meeting.meeting_sessions.each_with_index do |meeting_session, index|
        %tr
          - if index == 0
            %td{ rowspan: session_count }
              = "#{ @meeting.get_full_name } (ID #{ @meeting.id })"
          - if index == 0
            %td.goggles-rightalign{ rowspan: session_count }
              - if @meeting.is_confirmed
                = meeting_session.get_scheduled_date
              - else
                = meeting_session.get_scheduled_date.to_s + ' (*)'
          %td.goggles-rightalign
            = meeting_session.get_warm_up_time
          %td.goggles-rightalign
            = meeting_session.get_begin_time
          %td
            = meeting_session.get_short_events
          - if index == 0
            %td{ rowspan: session_count }
              = meeting_session.swimming_pool.get_city_and_attributes
