%ul.nav.nav-tabs
  = content_tag( :li, link_to(t('admin_import.step_1'), di_step1_status_path()), class: 'active' )
  = content_tag( :li, link_to(t('admin_import.step_1_1'), '#'), class: 'active' )
  = content_tag( :li, link_to(t('admin_import.step_2'), '#'),   class: 'disabled' )
  = content_tag( :li, link_to(t('admin_import.step_3'), '#'),   class: 'disabled' )
%p.text-center.lead
  = I18n.t('admin_import.import_event_results_title')
  \:
  \#{I18n.t('admin_import.team_analysis_results')}
  (#{I18n.t('admin_import.session')}: #{@data_import_session.id})
.alert
  %button.close{"data-dismiss" => "alert", :type => "button"} ×
  = I18n.t('admin_import.unconfirmed_results_will_be_added')
.span12
  = form_tag( 'step1_1_team_analysis_commit',                        |
        :multipart => true, class: 'form',             |
        :onsubmit => "$('#loadingIndicator').show(); " |
    ) do                                               |
    = hidden_field_tag( :data_import_session_id, @data_import_session.id )
    = hidden_field_tag( :force_meeting_creation, @force_missing_meeting_creation ? '1' : '0' )
    = hidden_field_tag( :force_team_or_swimmer_creation, @force_team_or_swimmer_creation ? '1' : '0' )
    .row.span11
      .span3.control-label.goggles-div-centeralign= I18n.t('admin_import.searched_team')
      .span4.control-label.goggles-div-centeralign= I18n.t('admin_import.team_match_name')
      .span1.control-label.goggles-div-centeralign= I18n.t('admin_import.add_alias')
      .span1.control-label.goggles-div-centeralign= I18n.t('admin_import.add_team')
      .span1.control-label.goggles-div-centeralign= I18n.t('admin_import.add_affiliation')
      .span1.control-label.goggles-div-centeralign= I18n.t('admin_import.is_ok')
    - @analysis_results.each_with_index do |result_row, idx|
      - do_insert_alias = result_row.can_insert_alias
      - do_insert_team = result_row.can_insert_team
      - do_insert_affiliation = result_row.can_insert_affiliation
      %div{:class => "row span11 #{(idx%2 == 0) ? 'goggles-divlist-even' : 'goggles-divlist-odd'}"}
        .control-group
          .span3
            .dropdown
              %a.dropdown-toggle{ 'data-toggle' => "dropdown", href: "#" }
                %b="#{result_row.searched_team_name}"
              %ul.dropdown-menu
                - if @data_import_session
                  - data_lines = @data_import_session.source_data.split("\r\n")
                  - data_lines = data_lines.map { |line| ( line =~ Regexp.new(result_row.searched_team_name, 'ui') ) ? line[(line =~ /([a-z]+)/i).to_i .. 76] : nil }.compact.uniq
                  - 2.times { data_lines.delete_at(                           |
                      data_lines.find_index( data_lines.last )                |
                    ) } if data_lines && data_lines.size > 2                  |
                  - data_lines.each do |line|
                    %li
                      %pre.imported_swimmer= line
          .span4
            = select( :alias_ids, result_row.id, Team.to_dropdown(),                   |
              { prompt: I18n.t(:please_select), selected: result_row.chosen_team_id }, |
              { class: 'input-xlarge combobox' } )                                     |
          .span1
            = show_tag( do_insert_alias )
          .span1
            = show_tag( do_insert_team )
          .span1
            = show_tag( do_insert_affiliation )
          .span1
            = check_box_tag( "id_#{result_row.id}", '1', do_insert_team )
    .row.span11
    .row.span11
      .control-group
        .span4.control-label{:for => "must_go_back"}= I18n.t('admin_import.on_commit_go_back_to_step1')
        .span1
          = check_box_tag( "must_go_back" )
        .span1
          = submit_tag( I18n.t('admin_import.confirm'), data: {:disable_with => I18n.t(:please_wait), class: 'btn disabled'}, class: 'btn btn-primary' )
    .row.span11
      %span#loadingIndicator{:hidden => "true"}
        = image_tag( 'indicator.gif' )
      #divProgress.progress.progress-striped.active{:hidden => "true"}
%script
  $('.combobox').combobox();
  $('span.ui-combobox').on( 'autocompleteselect', function() {  |
    var selectBox  = $(this).siblings()[0];                     |
    var teamId     = selectBox.value;                           |
    console.log( "team ID: " + teamId );                        |
    $.ajax({                                                    |
      url: "/api/v1/team/current_swimmers/" + teamId,           |
      dataType: "json"                                          |
    }).done( function( data_array ) {                           |
      var match_count = 0;                                      |
      var matched_lines = "";                                   |
      for ( index = 0; index < data_array.length; index++ ) {   |
        var swimmerName = data_array[index].complete_name;      |
        var lastname    = swimmerName.split(/\s+/)[0];          |
        var firstname   = swimmerName.split(/\s+/)[1];          |
        $('.imported_swimmer').each( function(i, element) {     |
          var matcher_1 = new RegExp( lastname, 'i' );          |
          var matcher_2 = new RegExp( firstname, 'i' );         |
          if ( matcher_1.test($(element).text()) && matcher_2.test($(element).text()) ) { |
            match_count++;                                      |
            matched_lines += $(element).text() + "\r\n";        |
            $(element).addClass('text-info');                   |
            console.log( "MATCHED: " + lastname + " " + firstname + " => " + $(element).text() ); |
            console.log( "year_of_birth: " + data_array[index].year_of_birth ); |
          }                                                     |
        });                                                     |
      }                                                         |
      if ( match_count > 0 ) {                                  |
        var msg = "Found " + match_count + " matching Swimmer!\r\n\r\n" + matched_lines; |
        alert( msg );                                           |
      }                                                         |
    });                                                         |
  });                                                           |
