.text-center
  .lead= I18n.t('admin_index.execute_bundle_command')
  %i= I18n.t('admin_index.execute_bundle_command_info')

.row.span11

.row.span11
  = form_tag( :run_bundle, class: 'form-horizontal', :onsubmit => "$('#loadingIndicator').show(); ") do
    .control-group
      = label_tag( :bundle_cmd, t('admin_index.bundle_cmd'), :for => :bundle_cmd, class: 'control-label' )
      .controls
        = text_field_tag( :bundle_cmd, nil, class: 'input-xxlarge' )

    .control-group
      .controls
        = submit_tag( I18n.t('admin_index.go'), :data => {:disable_with => I18n.t(:please_wait), class: 'btn disabled'}, class: 'btn btn-primary' )
        %span(id='loadingIndicator' hidden='true')
          = image_tag( 'indicator.gif' )

.row.span11
  - if (@console_output && @console_output.size > 0)
    %hr
    %pre.prettyprint.linenums= @console_output
