= render partial: 'search_meeting_grid'

.accordion#accordionFlt
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{'data-toggle' => 'collapse', 'data-parent' => '#accordionFlt', :href => '#collapseFlt'}
        %h3#headerFlt{'data-toggle' => 'tooltip', 'title' => I18n.t(:search_tooltip)}= @title
        %span( id='loadIndicator' hidden='true' )
          = image_tag( 'indicator.gif' )
        %script
          $('#headerFlt').tooltip(placement:'bottom')

    .accordion-body.collapse.in#collapseFlt
      .accordion-inner
        .row-fluid
          .span2
            = I18n.t(:season_type, { scope: [:activerecord, :models] })
          .span10
            = grid_filter @meetings_grid, :flt_season_type_id
        .row-fluid
          .span2
            = I18n.t(:season, { scope: [:activerecord, :models] })
          .span10
            = grid_filter @meetings_grid, :flt_season_id
        .row-fluid
          .span2
            = I18n.t(:any_date)
          .span10
            = grid_filter @meetings_grid, :flt_entry_header_date
        .row-fluid
          .span12
            .external-buttons
              %button.btn.btn-primary.wg-external-submit-button{'data-grid-name' => 'grid'}
                = I18n.t(:submit)
              %button.btn.wg-external-reset-button{'data-grid-name' => 'grid'}
                = I18n.t(:reset)

.row-fluid
  .span12
    = render_grid( @meetings_grid )
