.text-center
  .lead= I18n.t('admin_index.upload_db_dump')
  %i= I18n.t('admin_index.upload_db_dump_info')

.row.span11

.row.span11
  = form_tag( :upload_db_dump, :multipart => true, class: 'form-horizontal', :onsubmit => "$('#loadingIndicator').show(); ") do
    .control-group
      = label_tag( :datafile, t('admin_index.upload_db_dump'), :for => :datafile, class: 'control-label' )
      .controls
        = file_field_tag( :datafile )
    .control-group
      = label_tag( :is_a_full_dump, t('admin_index.is_a_full_dump'), :for => :is_a_full_dump, class: 'control-label' )
      .controls
        = check_box_tag( :is_a_full_dump, '1', true )

    .control-group
      .controls
        = submit_tag( I18n.t('admin_index.go'), :data => {:disable_with => I18n.t(:please_wait), class: 'btn disabled'}, class: 'btn' )
        %span(id='loadingIndicator' hidden='true')
          = image_tag( 'indicator.gif' )

.row.span11
  - if (@filename_to_be_run && @filename_to_be_run.size > 0)
    %hr
    %pre.prettyprint= @filename_to_be_run

.row.span11
  - if (@console_output && @console_output.size > 0)
    %hr
    %pre.prettyprint= @console_output
