.text-center
  .lead= I18n.t('admin_index.restart_apache')
  %i= I18n.t('admin_index.restart_apache_info')

.row.span11

.row.span11
  = form_tag( :restart_apache, class: 'form-horizontal', :onsubmit => "$('#loadingIndicator').show(); ") do
    .control-group
      = label_tag( :password, t(:password), :for => :password, class: 'control-label' )
      .controls
        = password_field_tag( :password, nil, class: 'input-large' )

    .control-group
      .controls
        = submit_tag( I18n.t('admin_index.go'), :data => {:disable_with => I18n.t(:please_wait), class: 'btn disabled'}, class: 'btn' )
        %span(id='loadingIndicator' hidden='true')
          = image_tag( 'indicator.gif' )

.row.span11
  - if (@console_output && @console_output.size > 0)
    %hr
    %pre.prettyprint.linenums= @console_output
