.text-center
  .lead= I18n.t('admin_index.execute_source_upgrade')
  %i= I18n.t('admin_index.execute_source_upgrade_info')

.row.span11


.row.span11
  = form_tag( :run_src_upgrade, class: 'form-horizontal', :onsubmit => "$('#loadingIndicator').show(); ") do
    .control-group
      = label_tag( :backup_folder, t('admin_index.backup_dir'), :for => :backup_folder, class: 'control-label' )
      .controls
        = text_field_tag( :backup_folder, @default_backup_folder, class: 'input-xxlarge' )
    .control-group
      = label_tag( :password, t(:password), :for => :password, class: 'control-label' )
      .controls
        = password_field_tag( :password, nil, class: 'input-large' )

    .control-group
      .controls
        = submit_tag( I18n.t('admin_index.git_pull'), confirm: I18n.t('netzke.basepack.grid_panel.are_you_sure'), :data => {:disable_with => I18n.t(:please_wait), class: 'btn disabled'}, class: 'btn' )
        %span(id='loadingIndicator' hidden='true')
          = image_tag( 'indicator.gif' )

.row.span11
  - if (@console_output && @console_output.size > 0)
    %hr
    %pre.prettyprint.linenums= @console_output
