.navbar.navbar-fixed-top
  .navbar-inner#goggles-inner-navbar
    %a.goggles-brand(href="#{admin_v3_maintenance_path()}")
      %span &nbsp;
      = GogglesCore::AppConstants::WEB_APP_NAME
      %small.text-error
        %strong= t('admin_index.title')
    = render_navigation( context: 'admin_v3_maintenance', expand_all: true, renderer: :bootstrap )

.goggles-breadcrumb
  = render_navigation( context: 'admin_v3_maintenance', renderer: :breadcrumbs, prefix: "#{I18n.t(:you_are_here)}&nbsp;", join_with: " &gt; " )
